section.jumbotron.text-center
      img.rounded-circle.img-thumbnail(src="https://im.vsco.co/aws-us-west-2/8ba2df/236572455/64d9d62995904923da000001/860e5f1a-5347-4bd4-9505-bb322dcc57418003613114507307995.jpg?w=1200", alt="Maulana Hakim", width="200")
      h1.display-4.text-white Maulana Hakim
      p.lead.text-white Programmer | Gamer
      svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 1440 320")
        path(fill="#ffffff", fill-opacity="1", d="M0,288L24,272C48,256,96,224,144,192C192,160,240,128,288,128C336,128,384,160,432,170.7C480,181,528,171,576,170.7C624,171,672,181,720,186.7C768,192,816,192,864,165.3C912,139,960,85,1008,64C1056,43,1104,53,1152,69.3C1200,85,1248,107,1296,96C1344,85,1392,43,1416,21.3L1440,0L1440,320L1416,320C1392,320,1344,320,1296,320C1248,320,1200,320,1152,320C1104,320,1056,320,1008,320C960,320,912,320,864,320C816,320,768,320,720,320C672,320,624,320,576,320C528,320,480,320,432,320C384,320,336,320,288,320C240,320,192,320,144,320C96,320,48,320,24,320L0,320Z")