section#about
      .container
        .row.text-center.mb-3
          .col
            h2 About Me
        .row.justify-content-center.fs-5.text-center
          .col-md-4
            h1 Programmer
            p saya adalah seorang programmer yang menikmati tantangan dalam memecahkan kode dan merancang solusi untuk masalah kompleks. Bahasa pemrograman merupakan alat ekspresi Anda di mana setiap baris kode membentuk alur logika dan ide-ide menjadi perangkat lunak fungsional. Saya memiliki keahlian dalam mengembangkan berbagai jenis proyek, dari aplikasi web yang elegan hingga perangkat lunak desktop yang kuat. Bagi Saya, pengembangan perangkat lunak bukan hanya pekerjaan, tetapi juga peluang berkelanjutan untuk terus belajar, tumbuh, dan berinovasi sejalan dengan perkembangan teknologi.
          .col-md-4
            h1 Gamer's
            p Dalam dunia gaming, saya menemukan kesenangan, petualangan, dan eksplorasi tanpa batas. Saya tidak hanya sekadar bermain, tetapi juga terlibat dalam desain permainan, menjalin persahabatan dalam tim, dan mengembangkan strategi cerdas. Game bukan hanya hiburan, tetapi juga pelajaran tentang desain, komunitas, dan seni digital. Saya juga tertarik menggabungkan kedua minat saya, mencari cara mengembangkan game indie atau menciptakan teknologi AI cerdas untuk meningkatkan pengalaman bermain. Bagi saya, keseimbangan antara logika pemrograman dan imajinasi gaming adalah sumber inspirasi tak terbatas.
      svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 1440 320")
        path(fill="#4e4c4c", fill-opacity="1", d="M0,96L40,90.7C80,85,160,75,240,96C320,117,400,171,480,176C560,181,640,139,720,144C800,149,880,203,960,208C1040,213,1120,171,1200,176C1280,181,1360,235,1400,261.3L1440,288L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z")