doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title My Portofolio | Hakim
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9", crossorigin="anonymous")
    include style.pug
  body#home
    // Navbar
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.shadow-sm.fixed-top
      .container
        a.navbar-brand(href="#") KIM
        button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
          span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
          ul.navbar-nav.ms-auto
            li.nav-item
              a.nav-link.active(aria-current="page", href="#home") Home
            li.nav-item
              a.nav-link(href="#about") about
            li.nav-item
              a.nav-link(href="#projects") Projects
            li.nav-item
              a.nav-link(href="#contact") Contact
    // Akhir Navbar
    // Jumbotron
    section.jumbotron.text-center
      img.rounded-circle.img-thumbnail(src="https://im.vsco.co/aws-us-west-2/8ba2df/236572455/64d9d62995904923da000001/860e5f1a-5347-4bd4-9505-bb322dcc57418003613114507307995.jpg?w=1200", alt="Maulana Hakim", width="200")
      h1.display-4.text-white Maulana Hakim
      p.lead.text-white Programmer | Gamer
      svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 1440 320")
        path(fill="#ffffff", fill-opacity="1", d="M0,288L24,272C48,256,96,224,144,192C192,160,240,128,288,128C336,128,384,160,432,170.7C480,181,528,171,576,170.7C624,171,672,181,720,186.7C768,192,816,192,864,165.3C912,139,960,85,1008,64C1056,43,1104,53,1152,69.3C1200,85,1248,107,1296,96C1344,85,1392,43,1416,21.3L1440,0L1440,320L1416,320C1392,320,1344,320,1296,320C1248,320,1200,320,1152,320C1104,320,1056,320,1008,320C960,320,912,320,864,320C816,320,768,320,720,320C672,320,624,320,576,320C528,320,480,320,432,320C384,320,336,320,288,320C240,320,192,320,144,320C96,320,48,320,24,320L0,320Z")
    // Akhir Jumbotron
    
    // About
    section#about
      .container
        .row.text-center.mb-3
          .col
            h2 About Me
        .row.justify-content-center.fs-5.text-center
          .col-md-4
            h1 Programmer
            p Sebagai seorang programmer, saya menikmati memecahkan teka-teki kode dan merancang solusi untuk masalah kompleks. Bahasa pemrograman adalah alat ekspresi saya, di mana setiap baris kode menghasilkan alur logika dan ide-ide menjadi perangkat lunak yang fungsional. Saya senang mengembangkan berbagai jenis proyek, dari aplikasi web yang elegan hingga perangkat lunak desktop yang kuat. Pengembangan perangkat lunak memberi saya peluang berkelanjutan untuk belajar, tumbuh, dan berinovasi seiring evolusi teknologi.
          .col-md-4
            h1 Gamer's
            p Dalam dunia gaming, saya menemukan kesenangan, petualangan, dan eksplorasi tanpa batas. Saya tidak hanya sekadar bermain, tetapi juga terlibat dalam desain permainan, menjalin persahabatan dalam tim, dan mengembangkan strategi cerdas. Game bukan hanya hiburan, tetapi juga pelajaran tentang desain, komunitas, dan seni digital. Saya juga tertarik menggabungkan kedua minat saya, mencari cara mengembangkan game indie atau menciptakan teknologi AI cerdas untuk meningkatkan pengalaman bermain. Bagi saya, keseimbangan antara logika pemrograman dan imajinasi gaming adalah sumber inspirasi tak terbatas.
      svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 1440 320")
        path(fill="#4e4c4c", fill-opacity="1", d="M0,96L40,90.7C80,85,160,75,240,96C320,117,400,171,480,176C560,181,640,139,720,144C800,149,880,203,960,208C1040,213,1120,171,1200,176C1280,181,1360,235,1400,261.3L1440,288L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z")
    // Akhir About

    // Projects
    section#projects
      .container
        .row.text-center.mb-3
          .col
            h2 My Projects
        .row.justify-content-center
          .col-md-4.mb-3
            .card.text-bg-secondary
              img.card-img-top(src="https://im.vsco.co/aws-us-west-2/8ba2df/236572455/64ec5c9895904924e4000008/9ee19e16-c0c2-4d8f-8f6f-ad77c5b1d3cf3414403485176468470.jpg?w=1200", alt="Project 1")
              .card-body
                p.card-text pernah menjadi Pagar bagus saat ulang tahu sekolah dan sekaligus Penerima tamu.
          .col-md-4.mb-3
            .card.text-bg-secondary
              img.card-img-top(src="https://im.vsco.co/aws-us-west-2/8ba2df/236572455/64ec5b2d95904924e4000006/a18f2c9a-3950-48de-b433-ee215173fb156716727273854882786.jpg?w=1200", alt="Project 2")
              .card-body
                p.card-text menjadi Fotografer di acara MPLS saat "Demo Eskul".
          .col-md-4.mb-3
            .card.text-bg-secondary
              img.card-img-top(src="https://plus.unsplash.com/premium_photo-1671631630555-1cb3ffa7dfe6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80", alt="Project 3")
              .card-body
                p.card-text Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
          .col-md-4.mb-3
            .card.text-bg-secondary
              img.card-img-top(src="https://plus.unsplash.com/premium_photo-1671631630555-1cb3ffa7dfe6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80", alt="Project 3")
              .card-body
                p.card-text Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
          .col-md-4.mb-3
            .card.text-bg-secondary
              img.card-img-top(src="https://plus.unsplash.com/premium_photo-1671631630555-1cb3ffa7dfe6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80", alt="Project 3")
              .card-body
                p.card-text Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
      svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 1440 320")
        path(fill="#fff", fill-opacity="1", d="M0,32L40,69.3C80,107,160,181,240,202.7C320,224,400,192,480,160C560,128,640,96,720,112C800,128,880,192,960,192C1040,192,1120,128,1200,96C1280,64,1360,64,1400,64L1440,64L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z")
    // Akhir Projects

    // Contact
    section#contact
      .container
        .row.text-center.mb-3
          .col
            h2 Contact Me
        .row.justify-content-center
          .col-md-6
            form
              .mb-3
                label.form-label(for="name") Nama Lengkap
                input#name.form-control(type="text", aria-describedby="name")
              .mb-3
                label.form-label(for="email") Email
                input#email.form-control(type="email", aria-describedby="email")
              .mb-3
                label.form-label(for="pesan") Pesan
                textarea#pesan.form-control(rows="3")
              button.btn.btn-primary(type="submit") Kirim
      svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 1440 320")
        path(fill="#212529", fill-opacity="1", d="M0,0L40,21.3C80,43,160,85,240,96C320,107,400,85,480,101.3C560,117,640,171,720,160C800,149,880,75,960,80C1040,85,1120,171,1200,170.7C1280,171,1360,85,1400,42.7L1440,0L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z")
    // Akhir Contact

    // Footer
    footer.bg-dark.text-white.text-center.pb-5
      p Created by 
        a.text-white.fw-bold(href="https://www.instagram.com/maulrdmz/") Maulana Hakim
    // Akhir Footer
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js", integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm", crossorigin="anonymous")
