section#projects
      .container
        .row.text-center.mb-3
          .col
            h2 My Projects
        .row.justify-content-center
          .col-md-4.mb-3
            .card.text-bg-secondary
              img.card-img-top(src="https://im.vsco.co/aws-us-west-2/8ba2df/236572455/64ec5c9895904924e4000008/9ee19e16-c0c2-4d8f-8f6f-ad77c5b1d3cf3414403485176468470.jpg?w=1200", alt="Project 1")
              .card-body
                p.card-text pernah menjadi Pagar bagus saat ulang tahu sekolah dan sekaligus Penerima tamu.
          .col-md-4.mb-3
            .card.text-bg-secondary
              img.card-img-top(src="https://im.vsco.co/aws-us-west-2/8ba2df/236572455/64ec5b2d95904924e4000006/a18f2c9a-3950-48de-b433-ee215173fb156716727273854882786.jpg?w=1200", alt="Project 2")
              .card-body
                p.card-text menjadi Fotografer di acara MPLS saat "Demo Eskul".
          .col-md-4.mb-3
            .card.text-bg-secondary
              img.card-img-top(src="https://im.vsco.co/aws-us-west-2/8ba2df/236572455/64ed6d75959049624a000001/efa01062-74d8-48ca-a37a-7f215630bd8e6524195966653776770.jpg?w=1200", alt="Project 3")
              .card-body
                p.card-text Memasangkan komponen komputer seperti Hardisk, Ram, processor dLL.
          .col-md-4.mb-3
            .card.text-bg-secondary
              img.card-img-top(src="https://im.vsco.co/aws-us-west-2/8ba2df/236572455/64ec5e9795904924e400000a/77152b43-0cb7-4c7a-ac73-9736d01b4bd72645902948259083052.jpg?w=1200", alt="Project 3")
              .card-body
                p.card-text Membuka kedai kopi di sekolah dan membuka usaha kecil-kecilan.
          .col-md-4.mb-3
            .card.text-bg-secondary
              img.card-img-top(src="https://im.vsco.co/aws-us-west-2/8ba2df/236572455/64edb1f99590493bc4000001/81e6d222-afdf-4741-b97b-0e9c72350172638140261602187998.jpg?w=1200", alt="Project 3")
              .card-body
                p.card-text Membenerkan pc yang error dengan cara menginstal uang windows.
      svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 1440 320")
        path(fill="#fff", fill-opacity="1", d="M0,32L40,69.3C80,107,160,181,240,202.7C320,224,400,192,480,160C560,128,640,96,720,112C800,128,880,192,960,192C1040,192,1120,128,1200,96C1280,64,1360,64,1400,64L1440,64L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z")